@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/container.css");
@import url("components/navbar.css");
@import url("components/buttons.css");
@import url("components/banner.css");
@import url("components/cards.css");

.homepage {

}

.homepage-logged {

}

.formpage-search {

}

.formpage-search-logged {

}

.formpage-propose-logged {

}

/* resultspage */
.head-resultspage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.head-resultspage a {
  margin-right: 60px;
}

.head-resultspage h1 {
  margin-left: 60px;
  font-family: Roboto;
}



.resultspage-logged {

}

.productpage {

}
.toppage_product {
display: flex;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 56px;
color: #000000;
}


.productinfo_prooductpage {
display: flex;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
}

.contact_homepage{
position: absolute;
width: 433px;
height: 549px;
left: 1012px;
top: 296px;
}

.info_homepage {
position: absolute;
width: 725px;
height: 695px;
left: 94px;
top: 294px;
line-height: 25px
text-align:justify;
}

h1 {
position: absolute;
width: 677px;
height: 66px;
left: 90px;
top: 165px;
}

.star {
display: flex;


}


.productpage-logged {

}

.myproductpage {

}

.signup-search {

}

.signup-propose {

}

.bookingpage {
}
.bookingpage {
	font-family: 'Roboto', sans-serif;
}
.bookingpage .container-general{
    width: 77rem;
    padding-top: 2rem;
	margin: 0 auto;
}
.bookingpage .partie-gauche{
    display: inline-block;/*permet d'avoir des éléments les uns à côté des autres ET qui sont modifiables en taille*/
    vertical-align: top;/*il faut toujours mettre vertcial-align:top après un display:inline-block*/
    margin: 0;
    width: 49%;
}
.bookingpage .partie-droite{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 49%;
}
.bookingpage .book-description{
    margin-left: 1rem;
    font-weight: 300;
}
.bookingpage h3{
	font-weight: normal;
}
.bookingpage .image-messenger{
    width: 100%;
}
.bookingpage .bookingpage-title{
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 1.5rem;
}

.contactpage  {

.justine {
position: absolute;
width: 220.85px;
height: 220px;
left: 389px;
top: 244px;
}

.textejustine {
position: absolute;
width: 274px;
height: 31px;
left: 373px;
top: 496px;
font-family: Roboto;
font-style: normal;
font-size: 20px;
line-height: 35px;
text-align: center;
color: #000000;
margin: 30px
}

.mia {
position: absolute;
width: 220.85px;
height: 220px;
left: 856px;
top: 244px;
}
.textemia {
position: absolute;
width: 237px;
height: 54px;
left: 847px;
top: 497px;
font-family: Roboto;
font-style: normal;
font-size: 20px;
line-height: 35px;
text-align: center;
color: #000000;
margin: 30px
}
.gaspard {
position: absolute;
width: 220.85px;
height: 220px;
left: 400px;
top: 579px;
}
.textegaspard {
position: absolute;
width: 336px;
height: 64px;
left: 331px;
top: 838px;
font-family: Roboto;
font-style: normal;
font-size: 20px;
line-height: 35px;
text-align: center;
color: #000000;
margin: 30px
}
.mathieu {
position: absolute;
width: 220.85px;
height: 220px;
left: 856px;
top: 579px;
}
.textemathieu{
position: absolute;
width: 273px;
height: 49px;
left: 832px;
top: 838px;

font-family: Roboto;
font-style: normal;;
font-size: 20px;
line-height: 35px;
text-align: center;
color: #000000;
margin: 30px
}

.photoprofile{
border-radius: 173px;
}

.titre {
/* Contact and discover our team */
position: absolute;
width: 677px;
height: 66px;
left: 428px;
top: 100px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #000000;
}
}

