/* Button for homepage */
.buttons-homepage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-homepage {
  box-shadow: 0px 10px 30px rgba(0, 0,0,0.2);
  border-radius: 6px;
  background-color: #F29898;
  width: 410px;
  height: 106px;
  color:white;
  margin: auto;
  display: block;
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  text-decoration-line: blink;
  line-height: 100px;
}

.btn-homepage:hover {
  background-color: #CF1717;
}

/* Button for homepage-logged */

/* Button for formpage-search */

/* Button for formpage-search-logged */

/* Button for formpage-propose-logged */

/* Button for resultspage */

.btn-resultspage {
  box-shadow: 0px 10px 30px rgba(0, 0,0,0.2);
  border-radius: 6px;
  background-color: #F29898;
  width: 299px;
  height: 71px;
  color:white;
  margin: auto;
  display: block;
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  text-decoration-line: blink;
  line-height: 70px;

}

.btn-resultspage:hover {
  background-color: #CF1717;
}

/* Button for resultspage-logged */

/* Button for productpage */
.btn-white-productpage {
  box-shadow: 0px 10px 30px rgba(0, 0,0,0.2);
  border-radius: 6px;
  background-color: #F29898;
  width: 210pX;
  height: 80px;
  color:white;
  margin: auto;
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  text-decoration-line: blink;

}
.btn-white-productpage:hover {
  background-color: #CF1717;
}

.btn-white-productpage {
position: absolute;
width: 237px;
height: 69px;
left: 1100px;
top: 159px;

}

/* Button for productpage-logged */

/* Button for myproduct */

/* Button for signup-search */

/* Button for signup-propose */

/* Button for bookingpage */

.btn-orange-bookingpage{
  text-align: center;
  background-color: #FFA500 ;
  display: inline-block;
  vertical-align: top;
  line-height: 3rem;
  text-decoration: none;/*enlever le soulignement*/
  color: black ;
  font-size: 36px;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 #bcbcbc;
  min-width: 11rem;
  font-weight: 300;
  margin-left: 4rem
}
.btn-orange-bookingpage{
  margin-right: 4rem;
  margin-bottom: 2rem;
}
.btn-white-bookingpage{
  text-align: center;
  background-color: #f9f9f9;
  display: block;
  text-decoration: none;
  color:black;
  padding: 0.5rem;
  line-height: 4rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 #bcbcbc;
  font-size: 5rem;
  width: 20rem;
  margin-left:4rem;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 0.3em;
  
  .btn-formpage-search {
  box-shadow: 0px 10px 30px rgba(0, 0,0,0.2);
  border-radius: 6px;
  background-color: #F29898;
  width: 299px;
  height: 71px;
  color:white;
  margin: auto;
  display: block;
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  text-decoration-line: blink;
  line-height: 70px;

}

.btn-resultspage:hover {
  background-color: #CF1717;
}
