/* Cards for homepage */

      /*Flex cards*/
.cards-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

.card-homepage {
  width: 345px;
  height: 384px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  align-items: center;
  overflow: hidden;

}

      /*Flex designed content in cards*/

.card-homepage-title {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.card-homepage-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.card-profile-homepage {
  height: 50px;
  width: 50px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin: auto 20px;
  }
.card-homepage-title h2 {
  margin: 0px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: medium;
}
.card-age-homepage {
  margin: 0px 0px;
  font-family: Roboto;
  font-size: 14px;
}
.card-desc-homepage {
  margin: 10px;
  font-family: Roboto;
  font-size: 14px;
}

/* Cards for homepage-logged */

/* Cards for formpage-search */

/* Cards for formpage-search-logged */

/* Cards for formpage-propose-logged */

/* Cards for resultspage */

      /*Flex cards*/
.cards-resultspage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

.card-resultspage {
  width: 345px;
  height: 384px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  align-items: center;
  overflow: hidden;

}

      /*Flex designed content in cards*/

.card-homepage-title {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.card-homepage-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.card-profile-homepage {
  height: 50px;
  width: 50px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin: auto 20px;
  }
.card-homepage-title h2 {
  margin: 0px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: medium;
}
.card-age-homepage {
  margin: 0px 0px;
  font-family: Roboto;
  font-size: 14px;
}
.card-desc-homepage {
  margin: 10px;
  font-family: Roboto;
  font-size: 14px;
}

.card-stars-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-stars-homepage h2 {
  margin: 0px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10px;
}

.card-stars-homepage img {
  width: 162px;
  height: 29px;
  margin-right: 10px;
}

/* Cards for resultspage-logged */

/* Cards for productpage */
.card-productpage-title 
h1 { 
  font-family: Roboto;
  font-size: 20px;
  font-weight: medium;
  margin-left: 2000px
  margin:20px ;
  margin-left: 20px;
}


/* Cards for productpage-logged */

/* Cards for myproduct */

/* Cards for signup-search */

/* Cards for signup-propose */

/* Cards for bookingpage */

.card-martine{
  margin-bottom: 2rem;
  height: 7rem;
}
.card-martine .nom{
  display: inline-block;
  vertical-align: top;
  height: 7rem;
  line-height:7rem;
  font-size: 48px;
  font-weight: 300;
                    }
.card-profile-bookingpage{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  margin-left: 0;
  margin-right: 1rem;
}
.card-img-homepage{
  box-shadow: 0.25rem 0.25rem 0 0 lightgray;
  width: 18rem;
}
.card-bookingpage-description{
color:#6c6c6c;
font-size: 1.1rem;
max-width: 15rem;
margin-bottom: 2rem;
}
.card-bookingpage-size-house{
  color:gray;
  margin-bottom:0;
}
.card-bookingpage-stars-icon{
  width: 14rem;
}

